@charset "UTF-8";

* { /* configurações globais das CSS */
    font-family: Arial, Helvetica, sans-serif; /* fonte */
    /*height: 100%; */
}

body {
    background-image: linear-gradient(to right,#703464, #BD8FB3);
}

main {
    background-color: white; /* cor de fundo */
    border-radius: 10px; /* pontas arredondadas */
    box-shadow: 5px 5px 15px #5f465abd; /* sombra */
    width: 600px; /* largura */
    padding: 10px; /* acolchoamento */
    margin: auto; /* centraliza independente do tamanho da tela */
}

h1 {
    color: #3D1C36;
    text-align: center;
    text-shadow: 1px 1px 2px #854376;

}

h2 {
    color: #876780;
}

p {
    text-align: justify; /* alinhamneto do texto */
}